<!-- <nav class="navbar">
            
<h4>About Me <br>Skills <br> Projects <br>Recommendations</h4> 

</nav>
-->

/* .navbar h4{
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 270px; 
} */